VITE_API_BASE_URL=http://localhost:8081/api/v1
VITE_SHELL_PORT=3000
VITE_MFE_DASHBOARD_PORT=3001
VITE_MFE_CUSTOMERS_PORT=3002
VITE_MFE_POLICIES_PORT=3003
VITE_MFE_VEHICLES_PORT=3004
VITE_MFE_NOTIFICATIONS_PORT=3005
VITE_MFE_REPORTS_PORT=3006
VITE_MFE_PORTAL_PORT=3007
VITE_MFE_DASHBOARD=http://localhost:3001
VITE_MFE_CUSTOMERS=http://localhost:3002
VITE_MFE_POLICIES=http://localhost:3003
VITE_MFE_VEHICLES=http://localhost:3004
VITE_MFE_NOTIFICATIONS=http://localhost:3005
VITE_MFE_REPORTS=http://localhost:3006
VITE_MFE_PORTAL=http://localhost:3007
VITE_ENABLE_DEMO_DATA=false
VITE_USE_REMOTE_MFES=false
